[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=mouse sens
Comment=mouse sens
Exec=xinput --set-prop "Kingsis Peripherals ZOWIE Gaming mouse" "libinput Accel Speed" -0.8
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

